concrete = #f2f2f2
main-shaft = #333333
eucaliptus = #1fa349
parsley = #165F2D

deep-teal = #002D35
gulf-stream = #87ADB7
silver = #bababa
gallery = #ededed
ripe-lemon = #F8E71C
turbo = #F0DE01


text-color = main-shaft
bg-color = concrete
