concrete = #f2f2f2
main-shaft = #333333
eucaliptus = #1fa349
parsley = #165F2D
deep-teal = #002D35
deep-teal-darkest = #002C2C
deep-teal-lightest = #013334
gulf-stream = #87ADB7
silver = #bababa
dust-gray = #999797
gallery = #ededed
juniper = #5e8286
ripe-lemon = #F8E71C
turbo = #F0DE01
crimson = #ea102b

text-color = main-shaft
bg-color = concrete
