
.header-top__location.location
	header.location__header#js-location__header
		+icon('location__icon', 'map')
		span.location__current#js-location__current Нижний Новгород
	.location__body#js-location__body
		.location-question#js-location-question
			.location-question__text Ваш регион доставки Нижний Новгород Нижний Новгород Нижний Новгород?
			.location-question__buttons
				.btn.btn--bg-green.location-question__btn(data-location="yes") Да, верно
				.btn.btn--border-green.location-question__btn(data-location="no") Нет, уточнить регион
		.location-choose
			.location-choose__header
				input(type="text" placeholder="Поиск по городу или индексу").input.input--size-small#js-location-input
			.location-choose__body
				ul.location-choose__list#js-location-choose__list
					li.location-choose__item Москва
					li.location-choose__item Санкт-Петербург
					li.location-choose__item Екатеринбург
					li.location-choose__item Нижний Новгород
					li.location-choose__item Пермь
					li.location-choose__item Казань
					li.location-choose__item Новосибирск
					li.location-choose__item Челябинск
					li.location-choose__item Москва
					li.location-choose__item Санкт-Петербург
					li.location-choose__item Екатеринбург
					li.location-choose__item Нижний Новгород
					li.location-choose__item Пермь
					li.location-choose__item Казань
					li.location-choose__item Новосибирск
					li.location-choose__item Челябинск
