section.s-advantages
	.container
		.advantages
			.advantages__item
				.advantages__icon
					+icon('icon-warranty', 'warranty')
				.advantages__content
					h5.advantages__title 30-дневная гарантия возврата денег
					p.advantages__text Поэтому вы можете делать покупки с уверенностью
					a(href="#").link.link--underline Узнать о гарантии

			.advantages__item
				.advantages__icon
					+icon('icon-specialist', 'specialist')
				.advantages__content
					h5.advantages__title Специалисты по товарам на связи
					p.advantages__text Мы ответим на любые вопросы о товарах в течение 10 минут
					a(href="#js-popup-consultation").link.link--underline.js-popup-link Получить консультацию

			.advantages__item
				.advantages__icon
					+icon('icon-sample', 'sample')
				.advantages__content
					h5.advantages__title Бесплатные образцы
					p.advantages__text Некоторые товары вы можете изучить внимательнее перед покупкой.
