section.section.s-banner(style="background-image: url('assets/i/banner.jpg')")
	.container
		.banner
			h1.title-page.banner__title Продажа строительных материалов от производителя
			.banner__text Текст о компании, который может Я,пригодиться для первичного знакомства с посетителем сайта, а также для целей поискового продвижения|
