section.s-product-prev-line.section
	.container
		header.section-header
			h2.title-section.popular-categories__title Товары со скидкой
			.section-header__right
				a(href="#").section-header__link Все все товары
				span.count-text 123

		.products-prev
			.product-prev
				a(href="#").product-prev__header
					.product-prev__marks
						span.product-prev__mark.product-prev__mark--bg-yellow -30%

					img.product-prev__img(src="assets/i/products/product-prev-1.jpg", alt="")

				a(href="#").product-prev__body
					.product-prev__title
						.product-prev__name Планка стыковочная 30^30x2000 мм, толщина 0.4 мм, цвет графитовый серый ЯА1.7024
							span.count-text 10 шт

					.product-prev__info
						.product-prev__info-label Артикул
						.product-prev__info-value 13763515

					.product-prev__info
						.product-prev__info-label Срок изготовления
						.product-prev__info-value от 2 до 5 дней

					.product-prev__price
						.product-prev__price-old 80 руб.
						.product-prev__price-current 76 руб. за шт.

				.product-prev__footer
					button.btn.btn--fill
						+icon('product-prev__icon icon-basket', 'basket')
						span В корзину
			.product-prev
				a(href="#").product-prev__header
					.product-prev__marks
						span.product-prev__mark.product-prev__mark--bg-yellow -30%

					img.product-prev__img(src="assets/i/products/product-prev-2.jpg", alt="")

				a(href="#").product-prev__body
					.product-prev__title
						.product-prev__name Планка стыковочная 30^30x2000 мм, толщина 0.4 мм, цвет графитовый серый ЯА1.7024
							span.count-text 10 шт

					.product-prev__info
						.product-prev__info-label Артикул
						.product-prev__info-value 13763515

					.product-prev__info
						.product-prev__info-label Срок изготовления
						.product-prev__info-value от 2 до 5 дней

					.product-prev__price
						.product-prev__price-old 80 руб.
						.product-prev__price-current 76 руб. за шт.

				.product-prev__footer
					button.btn.btn--fill
						+icon('product-prev__icon icon-basket', 'basket')
						span В корзину
			.product-prev
				a(href="#").product-prev__header
					.product-prev__marks
						span.product-prev__mark.product-prev__mark--bg-yellow -30%
						span.product-prev__mark.product-prev__mark--bg-green Хит

					img.product-prev__img(src="assets/i/products/product-prev-3.jpg", alt="")

				a(href="#").product-prev__body
					.product-prev__title
						.product-prev__name Планка стыковочная 30^30x2000 мм, толщина 0.4 мм, цвет графитовый серый ЯА1.7024
							span.count-text 10 шт

					.product-prev__info
						.product-prev__info-label Артикул
						.product-prev__info-value 13763515

					.product-prev__info
						.product-prev__info-label Срок изготовления
						.product-prev__info-value от 2 до 5 дней

					.product-prev__price
						.product-prev__price-old 80 руб.
						.product-prev__price-current 76 руб. за шт.

				.product-prev__footer
					button.btn.btn--fill
						+icon('product-prev__icon icon-basket', 'basket')
						span В корзину
			.product-prev
				a(href="#").product-prev__header
					.product-prev__marks
						span.product-prev__mark.product-prev__mark--bg-yellow -30%

					img.product-prev__img(src="assets/i/products/product-prev-4.jpg", alt="")

				a(href="#").product-prev__body
					.product-prev__title
						.product-prev__name Планка стыковочная 30^30x2000 мм, толщина 0.4 мм, цвет графитовый серый ЯА1.7024
								span.count-text 10 шт

						.product-prev__info
							.product-prev__info-label Артикул
							.product-prev__info-value 13763515

						.product-prev__info
							.product-prev__info-label Срок изготовления
							.product-prev__info-value от 2 до 5 дней

						.product-prev__price
							.product-prev__price-old 80 руб.
							.product-prev__price-current 76 руб. за шт.

					.product-prev__footer
						button.btn.btn--fill
							+icon('product-prev__icon icon-basket', 'basket')
							span В корзину

