section.s-product-prev-line.section
	.container
		header.section-header
			h2.title-section.popular-categories__title Товары со скидкой
			.section-header__right
				a(href="#").link--green.link--underline Все все товары
				span.count-text 123

		.products-prev
			include discount/product-prev-1
			include discount/product-prev-2
			include discount/product-prev-3
			include discount/product-prev-4
