header.header
	.header-top
		.container
			include header/location
			nav.main-nav.header-top__main-nav
				ul.main-nav__list
					li.main-nav__item
						a(href="#").main-nav__link Оплата и доставка
					li.main-nav__item
						a(href="#").main-nav__link Гарантия
					li.main-nav__item
						a(href="#").main-nav__link Услуги
					li.main-nav__item
						a(href="#").main-nav__link Компания
					li.main-nav__item
						a(href="#").main-nav__link Контакты
			.user-nav.header-top__user-nav
				a(href="#").user-nav__link.link--green Войти

	//- .header-main
	//- 	.container
	//- 		.logo.header-main__logo.header-main__item
	//- 			img.logo__img(src="assets/i/logo.jpg", alt="logo")
	//- 			span.logo__text Продажа стройматериалов

	//- 		include navigation/catalog-nav

	//- 		.header-main__search.header-main__item.search
	//- 			input.input.input--size-small.search__input(type="text" placeholder="Артикул или название товара")
	//- 			+icon('search__icon', 'search')
	//- 		include order-callback
	//- 		include basket-prev
