header.header
	.header-top
		.container
			.header-top__location.location
				header.location__header
					+icon('location__icon', 'map')
					span.location__current Нижний Новгород
				.location__body
			nav.main-nav.header-top__main-nav
				ul.main-nav__list
					li.main-nav__item
						a(href="#").main-nav__link Оплата и доставка
					li.main-nav__item
						a(href="#").main-nav__link Гарантия
					li.main-nav__item
						a(href="#").main-nav__link Услуги
					li.main-nav__item
						a(href="#").main-nav__link Компания
					li.main-nav__item
						a(href="#").main-nav__link Контакты
			.user-nav.header-top__user-nav
				a(href="#").user-nav__link.link--green Войти

	.header-main
		.container
			.logo
				img.logo__img(src="assets/i/logo.jpg", alt="logo")
				span.logo__text Продажа стройматериалов
			.header-main__catalog-nav.catalog-nav
				.catalog-nav__header
					.sandwitch
						.sandwitch__line.sandwitch__line--top
						.sandwitch__line.sandwitch__line--middle
						.sandwitch__line.sandwitch__line--bottom
					h4.catalog-nav__title Каталог стройматериалов
				.catalog-nav__body
			.header-main__search.search
				input.input.input--size-small.search__input(type="text" placeholder="Артикул или название товара")
				+icon('search__icon', 'search')
			include order-callback
			include basket-prev

