section.section.s-popular-categories
	.container
		.popular-categories
			header.section__header
				h2.title-section.popular-categories__title Популярные категории каталога

			.categories-prev#js-categories-prev
				include categories-prev/categories-prev-1
				include categories-prev/categories-prev-2
				include categories-prev/categories-prev-3
				include categories-prev/categories-prev-4
				include categories-prev/categories-prev-5
				include categories-prev/categories-prev-6
				include categories-prev/categories-prev-7
				include categories-prev/categories-prev-8
