section.section.s-promo
	.container
		.promo
			header.section-header
				h2.title-section.popular-categories__title Акции и спецпредложения
				.section-header__right
					a(href="#").link--green.link--underline Все спецпредложения
					span.count-text 123

			.promo-prev__wrapper
				.promo-prev
					header.promo-prev__header
						img(src="assets/i/promo/promo-prev-1.jpg", alt="")
						a(href="#").promo-prev__link.btn Купить листы оцинкованные
					.promo-prev__body
						.promo-prev__text
							.promo-prev__descr Специальное предложение
							.promo-prev__title на листы оцинкованные

				.promo-prev
					header.promo-prev__header
						img(src="assets/i/promo/promo-prev-2.jpg", alt="")
						a(href="#").promo-prev__link.btn Купить доборные элементы кровли
					.promo-prev__body
						.promo-prev__text
							.promo-prev__descr Распродажа
							.promo-prev__title доборных элементов кровли

				.promo-prev.promo-prev--tablet-hide
					header.promo-prev__header
						img(src="assets/i/promo/promo-prev-3.jpg", alt="")
						a(href="#").promo-prev__link.btn Купить профнастил со скидкой
					.promo-prev__body
						.promo-prev__text
							.promo-prev__descr Скидки до 50%
							.promo-prev__title на профнастил
