section.s-sales-liders.section
	.container
		header.section-header
			h2.title-section.popular-categories__title Лидеры продаж

		.sales-liders
			.sales-liders__row
				.sales-liders__col
					a(href="").sales-liders__item.sales-liders__item--big
						.sales-liders__img
							img(src="assets/i/sales-liders/sales-liders-item-big-1.jpg" alt="")
						span.sales-liders__names Водосточные трубы
					.sales-liders__row
						.sales-liders__col
							a(href="").sales-liders__item
								.sales-liders__img
									img(src="assets/i/sales-liders/sales-liders-item-small-1.jpg" alt="")
								span.sales-liders__names Планка стыковочная
						.sales-liders__col
							a(href="").sales-liders__item
								.sales-liders__img
									img(src="assets/i/sales-liders/sales-liders-item-small-2.jpg" alt="")
								span.sales-liders__names Гладкий лист оцинкованный
				.sales-liders__col
					.sales-liders__row
						.sales-liders__col
							a(href="").sales-liders__item
								.sales-liders__img
									img(src="assets/i/sales-liders/sales-liders-item-small-3.jpg" alt="")
								span.sales-liders__names Гладкий лист оцинкованный
						.sales-liders__col
							a(href="").sales-liders__item
								.sales-liders__img
									img(src="assets/i/sales-liders/sales-liders-item-small-4.jpg" alt="")
								span.sales-liders__names Подсистема вентилируемого фасада
					a(href="").sales-liders__item.sales-liders__item--big
						.sales-liders__img
							img(src="assets/i/sales-liders/sales-liders-item-big-2.jpg" alt="")
						span.sales-liders__names Планка стыковочная 30x30x2000 мм, толщина 0.4 мм, цвет графитовый серый

