@import 'form-group'
@import 'file-upload'
@import 'input'
@import 'textarea'

.form
	&__body
		margin-bottom 30px
		& > *
			 margin 20px 0
			 &:first-child
					margin-top 0
			 &:last-child
					margin-bottom 0
