extends template

block title
	title Главная

block content
	include ../includes/mixins
	.hidden
		include ../../../build/assets/i/svg/inline/sprite.svg

	include ../includes/header

	include ../includes/banner
	include ../includes/popular-categories
	include ../includes/advantages
	include ../includes/promo
	include ../includes/discount
	include ../includes/sales-liders
	include ../includes/you-see
	include ../includes/questions
	include ../includes/footer

	include ../includes/scripts/ie-scripts
	include ../includes/scripts/scripts.pug
	script(src="assets/libs/slick/slick/slick.min.js")
	script(src="assets/js/main.min.js")

