extends template

block css
	//- link(rel="stylesheet" type="text/css" href="assets/i/svg/bg/css/sprite.css")
	link(rel="stylesheet" type="text/css" href="assets/css/style.min.css")

block title
	title Главная

block content
	include ../includes/mixins
	.hidden
		include ../../../build/assets/i/svg/inline/sprite.svg


	include ../includes/header/header

	include ../includes/banner
	include ../includes/popular-categories
	include ../includes/advantages
	include ../includes/promo
	//- include ../includes/discount
	//- include ../includes/sales-liders
	//- include ../includes/you-see
	//- include ../includes/questions
	//- include ../includes/footer
	//- include ../includes/popups/consultation
	//- include ../includes/popups/upgrade

	include ../includes/scripts/ie-scripts

	//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

block scripts
	script(src="assets/libs/jquery-easy-scroll/jquery.easeScroll.js")
	script(src="assets/libs/slick/slick/slick.min.js")
	script(src="assets/libs/simplebar/dist/simplebar.min.js")
	script(src="assets/libs/Magnific-Popup/dist/jquery.magnific-popup.min.js")
	script(src="assets/libs/jquery-validation-1.19.0/dist/jquery.validate.min.js")
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")

