extends template

block title
	title Главная

block content
	.hidden
		//- include ../../../build/assets/i/svg/inline/sprite.svg

	.container
		include ../includes/header

	include ../includes/scripts/ie-scripts
	include ../includes/scripts/scripts.pug
	script(src="assets/libs/slick/slick/slick.min.js")
	script(src="assets/js/main.min.js")

