.header
	.container
		display flex
		align-items center

.header-top
	padding 12px 0

.header-top__location
	margin-right 80px
	@media screen and (max-width: tablet-width)
		margin-right 40px

.header-top__user-nav
	margin-left auto

@import 'header-main';
