.popup.mfp-hide#js-popup-upgrade
	.hide-on-succes
		header.popup__header
			span.popup__title Что можно улучшить на этой странице?
			.popup-close
				+icon('popup-close__icon', 'close')
		.popup__body
			form.popup__form.form
				.form__body
					.form-line.form-group--required
						.form-group
							label.form-group__label Вопросы и ответы
							textarea.textarea-field(placeholder="Здравствуйте,на этой странице можно..." name="req-textarea")

					.form-line
						.form-group.form-group--width-m
							label.form-group__label Электронная почта
							input.input(placeholder="Введите свой email" type="email" name="no-req-email")

					.form-line
						.form-group
							label.file-upload
								input(type="file")
								.file-upload__custom
									+icon('file-upload__icon', 'file')
									span.file-upload__text Загрузить

				.popup__footer
					.form-line
						.form-group.form-group--width-m
							input(type="submit" value="Поулучить консультацию").btn.btn-size-l
						span.form-line__info.form-line__info--color-green Ответим в течении 10 минут
					.form-line
						p.popup-info Задавая вопрос, вы соглашаетесь с <a href="" class="popup-info__link"> политикой конфиденциальности</a>

	.show-on-succes
		header.popup__header
			span.popup__title Мы вам перезвоним
			.popup-close
				+icon('popup-close__icon', 'close')
		.popup__body
			.form-success
				.form-success__block
					.form-success__info
						span.form-success__text Номер вашей заявки
						span.form-success__number 1234
					p.form-success__descr Менеджер позвонит на указанный телефон сегодня до 14:43 по московскому времени.

				.form-success__block
					span.form-success__label Не готовы ждать
					.form-success__row
						.form-success__col
							.form-success-contacts
								+icon('form-success-contacts__icon', 'phone')

								span.form-success-contacts__text Звоните курглосуточно

								a(href="tel: +74993348888").link--green +7 499 334-88-88

								a(href="").form-success-contacts__link.link--underLine Набрать номер no QR коду

						.form-success__col
							.form-success-contacts
								+icon('form-success-contacts__icon', 'letter')

								span.form-success-contacts__text Напишите нам e-mail

								a(href="mailto:question@venevsky.ru").link--green question@venevsky.ru
