.categories-prev__item
	img.categories-prev__img(src="assets/i/categories-prev/categories-prev-4.jpg", alt="image")

	.categories-prev__body
		.categories-prev__title
			h4.categories-prev__title-text Профнастил
			span.count-text 1234

		ul.categories-prev__list
			li.categories-prev__list-item
				a(href="#").categories-prev__link Все водосточные системы
				span.count-text 7
