.categories-prev__item
	img.categories-prev__img(src="assets/i/categories-prev/categories-prev-1.jpg", alt="image")

	.categories-prev__body
		.categories-prev__title
			h4.categories-prev__title-text Водосточные системы
			span.categories-prev__title-count 1234

		ul.categories-prev__list
			li.categories-prev__list-item
				a(href="#").categories-prev__link Комплекты водосточных систем
				span.categories-prev__title-count 23
			li.categories-prev__list-item
				a(href="#").categories-prev__link Водосточные трубы
				span.categories-prev__title-count 23
			li.categories-prev__list-item
				a(href="#").categories-prev__link Желоб водосточный
				span.categories-prev__title-count 98
			li.categories-prev__list-item
				a(href="#").categories-prev__link Воронка желоба выпускная
				span.categories-prev__title-count 98
			li.categories-prev__list-item
				a(href="#").categories-prev__link Все водосточные системы
				span.categories-prev__title-count 7
