.categories-prev__item
	img.categories-prev__img(src="assets/i/categories-prev/categories-prev-2.jpg", alt="image")

	.categories-prev__body
		.categories-prev__title
			h4.categories-prev__title-text Кровля
			span.count-text 1234

		ul.categories-prev__list
			li.categories-prev__list-item
				a(href="#").categories-prev__link Металлочерепица
				span.count-text 23
			li.categories-prev__list-item
				a(href="#").categories-prev__link Элементы безопасности кровли
				span.count-text 23
			li.categories-prev__list-item
				a(href="#").categories-prev__link Лестницы
				span.count-text 98
			li.categories-prev__list-item
				a(href="#").categories-prev__link Мостики кровельные
				span.count-text 98
			li.categories-prev__list-item
				a(href="#").categories-prev__link Все водосточные системы
				span.count-text 7
