.categories-prev__item
	img.categories-prev__img(src="assets/i/categories-prev/categories-prev-1.jpg", alt="image")

	.categories-prev__body
		.categories-prev__title
			h4.categories-prev__title-text Водосточные системы
			span.count-text 1234

		ul.categories-prev__list
			li.categories-prev__list-item
				a(href="#").link Комплекты водосточных систем
				span.count-text 23
			li.categories-prev__list-item
				a(href="#").link Водосточные трубы
				span.count-text 23
			li.categories-prev__list-item
				a(href="#").link Желоб водосточный
				span.count-text 98
			li.categories-prev__list-item
				a(href="#").link Воронка желоба выпускная
				span.count-text 98
			li.categories-prev__list-item
				a(href="#").link.link--green Все водосточные системы
				span.count-text 7
