.categories-prev__item
	img.categories-prev__img(src="assets/i/categories-prev/categories-prev-5.jpg", alt="image")

	.categories-prev__body
		.categories-prev__title
			h4.categories-prev__title-text Лист оцинкованный
			span.count-text 1234

		ul.categories-prev__list
			li.categories-prev__list-item
				a(href="#").link Металлочерепица
				span.count-text 23
			li.categories-prev__list-item
				a(href="#").link Элементы безопасности кровли
				span.count-text 23
			li.categories-prev__list-item
				a(href="#").link Лестницы
				span.count-text 98
			li.categories-prev__list-item
				a(href="#").link Мостики кровельные
				span.count-text 98
			li.categories-prev__list-item
				a(href="#").link.link--green Весь лист оцинкованный
				span.count-text 7
