.categories-prev__item.categories-prev__item--hide-on-mobile
	img.categories-prev__img(src="assets/i/categories-prev/categories-prev-8.jpg", alt="image")

	.categories-prev__body
		.categories-prev__title
			h4.categories-prev__title-text Другой раздел
			span.count-text 1234

		ul.categories-prev__list
			li.categories-prev__list-item
				a(href="#").link.link--green Весь лист оцинкованный
				span.count-text 7

