.categories-prev__item
	img.categories-prev__img(src="assets/i/categories-prev/categories-prev-5.jpg", alt="image")

	.categories-prev__body
		.categories-prev__title
			h4.categories-prev__title-text Лист оцинкованный
			span.categories-prev__title-count 1234

		ul.categories-prev__list
			li.categories-prev__list-item
				a(href="#").categories-prev__link Металлочерепица
				span.categories-prev__title-count 23
			li.categories-prev__list-item
				a(href="#").categories-prev__link Элементы безопасности кровли
				span.categories-prev__title-count 23
			li.categories-prev__list-item
				a(href="#").categories-prev__link Лестницы
				span.categories-prev__title-count 98
			li.categories-prev__list-item
				a(href="#").categories-prev__link Мостики кровельные
				span.categories-prev__title-count 98
			li.categories-prev__list-item
				a(href="#").categories-prev__link Весь лист оцинкованный
				span.categories-prev__title-count 7
