.categories-prev__item
	img.categories-prev__img(src="assets/i/categories-prev/categories-prev-6.jpg", alt="image")

	.categories-prev__body
		.categories-prev__title
			h4.categories-prev__title-text Штрипс
			span.categories-prev__title-count 1234

		ul.categories-prev__list
			li.categories-prev__list-item
				a(href="#").categories-prev__link Металлочерепица
				span.categories-prev__title-count 23
			li.categories-prev__list-item
				a(href="#").categories-prev__link Элементы безопасности
				span.categories-prev__title-count 23
			li.categories-prev__list-item
				a(href="#").categories-prev__link Лестницы
				span.categories-prev__title-count 98
			li.categories-prev__list-item
				a(href="#").categories-prev__link Мостики кровельные
				span.categories-prev__title-count 98
			li.categories-prev__list-item
				a(href="#").categories-prev__link Весь штрипс
				span.categories-prev__title-count 7
