.categories-prev__item
	img.categories-prev__img(src="assets/i/categories-prev/categories-prev-3.jpg", alt="image")

	.categories-prev__body
		.categories-prev__title
			h4.categories-prev__title-text Доборные элементы кровли
			span.categories-prev__title-count 1234

		ul.categories-prev__list
			li.categories-prev__list-item
				a(href="#").categories-prev__link Планка стыковочная
				span.categories-prev__title-count 23
			li.categories-prev__list-item
				a(href="#").categories-prev__link Планка ендовая нижняя
				span.categories-prev__title-count 23
			li.categories-prev__list-item
				a(href="#").categories-prev__link Планка ендовая верхняя
				span.categories-prev__title-count 98
			li.categories-prev__list-item
				a(href="#").categories-prev__link Планка угла наружного
				span.categories-prev__title-count 98
			li.categories-prev__list-item
				a(href="#").categories-prev__link Все водосточные системы
				span.categories-prev__title-count 7
