.link
	font-size 14px
	font-weight bold
	color text-color
.link--white
	color white
.link--green
	color eucaliptus
	&:hover
		color parsley
.link--yellow
	color turbo
.link--underline
	text-decoration underline
