.slick-dots
	display flex
	justify-content center
	align-items center
	& > *
		 &:not(:last-child)
				margin-right 10px
	.slick-active
		button
			background ripe-lemon
	button
		display block
		padding 0
		size(10px)
		text-indent -9999999px
		background gallery
		border-radius 2px
		border none
