.upgrade
	display flex
	align-items center
	font-size 14px
	& > *
		 &:not(:last-child)
				margin-right 10px
	&__icon-wrapper
		display flex
		align-items center
		justify-content center
		width 18px
		height 18px
		border-radius 50%
		background silver
	&__icon
		fill white
		width 14px
		height 14px
