.s-advantages
	padding 40px 0
	background white

.advantages
	display grid
	grid-template-columns repeat(3, 1fr)
	grid-column-gap 30px

.advantages__item
	display flex
	& > *
		&:not(:last-child)
			margin-right 14px
			@media screen and (max-width xl)
				margin-right 10px


	.advantages__icon
		svg
			width 48px
			height 51px
			fill ripe-lemon

.advantages__title
	margin-bottom 4px
	font-size 12px
	font-weight 600
	letter-spacing .25px

.advantages__text
	font-size 14px
	color silver

.advantages__link
	display inline-block
	margin-top 8px
	letter-spacing 0.25px

