.s-banner
	margin 0 auto
	// max-width 1240px
	color white
	background-repeat no-repeat
	background-position center top
	background-size cover

.banner__title
	margin-bottom 20px
	font-size 39px

.banner__text
	max-width 680px
	font-size 24px
	line-height 1.3

