.basket-prev
	display flex
	flex-direction column

.basket-prev__icon
	margin-bottom 7px
	width 26px
	height 24px
	fill white

.basket-prev__title
	margin-bottom 2px
	font-size 16px
	line-height 20px
	font-weight bold

.basket-prev__count
	font-size 14px
	line-height 18px
	font-weight 500
	white-space nowrap
	color white
