.btn
	display flex
	align-items center
	padding 10px 20px
	font-size 16px
	color text-color
	background ripe-lemon
	border none
	cursor pointer
	transition all .4s
	&:hover
		background turbo
	& > *
		 &:not(:last-child)
				margin-right 10px
	&--disabled
		opacity 0.5

.btn--fill
	width 100%
