.btn
	display flex
	align-items center
	padding 8px 20px
	font-size 16px
	line-height 20px
	color text-color
	background ripe-lemon
	border 2px solid transparent
	border-radius 4px
	cursor pointer
	transition all .4s
	&:hover
		background turbo
	& > *
		 &:not(:last-child)
				margin-right 10px
	&--disabled
		opacity 0.5
	&--fill
		width 100%
	&--bg-green
		color white
		background eucaliptus
	&--border-green
		color eucaliptus
		background white
		border-color eucaliptus
