.catalog-nav
	&.catalog-nav--active
		.catalog-nav__body
			display block

.catalog-nav__header
	display flex
	align-items center
	cursor pointer
	& > *
		&:not(:last-child)
			margin-right 10px
	.sandwitch
		@media screen and (max-width md)
			display none

.catalog-nav__title
	white-space nowrap
	@media screen and (max-width md)
		display none
	&.catalog-nav__title--mobile
		display none
		@media screen and (max-width md)
			display block
.catalog-nav__title--mobile
	position relative
	padding-right 20px
	&::after
		content ''
		position absolute
		top 8px
		right 0
		width 0
		height 0
		border-style solid
		border-width 5px 5px 0 5px
		border-color white transparent transparent transparent

.catalog-nav__body
	position absolute
	left 80px
	top 80px
	display none
	color text-color
	background white
	border-radius 4px
	box-shadow: 0 0 5px 0 rgba(159, 197, 178, 0.5)
	z-index 1
	@media screen and (max-width xl)
		left 20px
	@media screen and (max-width: md)
		position fixed
		top 50px
		bottom 0
		width calc(100% - 40px)
		border-radius 0
		border 1px solid ripe-lemon

	&::before
		position absolute
		top -10px
		left 185px
		content ''
		width 0
		height 0
		border-style solid
		border-width 0 10px 10px 10px
		border-color transparent transparent white transparent
		@media screen and (max-width xl)
			left 220px


.catalog-nav__list
	width 255px
	@media screen and (max-width: md)
		width 100%

.catalog-nav__label
	display flex
	align-items center
	padding 6px 15px
	cursor pointer
	transition all .3s
	@media screen and (max-width: md) {
		border-bottom 1px solid lightgray
	}
	&:hover
		background ripe-lemon
	& > *
		 &:not(:last-child)
				margin-right 5px
	&-text
		font-size 14px
		font-weight 600
		line-height 18px

.catalog-nav__arrow
	margin-left auto
	width 0
	height 0
	border-style solid
	border-width 5px 0 5px 5px
	border-color transparent transparent transparent black
	@media screen and (max-width: md)
		transform rotate(90deg)

.catalog-nav__item
	&:hover .catalog-subnav
		display block

	@media screen and (max-width: md)
		background ripe-lemon

.catalog-subnav__inner
	display flex
	@media screen and (max-width: md) {
		display block
	}
	& > *
		 &:not(:last-child)
				margin-right 30px
				@media screen and (max-width: md) {
					margin-right 0
				}
	@media screen and (max-width: md)
		display block
.catalog-subnav
	position absolute
	top 0
	bottom 0
	left 255px
	display none
	padding 15px 20px
	background white
	border-left 1px solid ripe-lemon
	@media screen and (max-width: md)
		position static
		width 100%
	.simplebar-vertical
		margin 10px
		@media screen and (max-width: md) {
			margin 0
		}
	&__col
		flex 1

	&__block
		margin-bottom 30px

	&__header
		display flex
		align-items center
		margin-bottom 10px
		font-weight bold

	&__title
		font-size 18px
		line-height 26px
	&__list
		& > *
			display block
			 margin 10px 0
			 &:first-child
					margin-top 0
			 &:last-child
					margin-bottom 0
	&__link
		font-size 14px
		font-weight bold
