.header
	.container
		display flex
		align-items center

.header-top
	padding 12px 0

.header-top__location
	margin-right 80px

.header-top__user-nav
	margin-left auto

.header-main
	padding 20px 0
	color white
	background deep-teal

	.container
		display flex
		align-items center
		& > *
			&:not(:last-child)
				margin-right 30px

.header-main__basket-prev
	margin-left auto
