.input
	padding 0 15px
	height 50px
	line-height 50px
	font-size 14px
	background white
	border 1px solid gallery
	border-radius 4px
	box-shadow none
	&--size-small
		height 40px

input[type='text']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
input[type='phone']::-webkit-input-placeholder
	color silver
/* webkit */

input[type='text']::-moz-placeholder,
input[type='email']::-moz-placeholder,
input[type='phone']::-moz-placeholder
	color silver

/* webkit */

input[type='text']:-moz-placeholder,
input[type='email']:-moz-placeholder,
input[type='phone']:-moz-placeholder
	color silver

/* webkit */

input[type='text']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder,
input[type='phone']:-ms-input-placeholder
	color silver
