.location
	flex 0 0 165px
	width 165px

.location__header
	display flex
	align-items center
	cursor pointer

.location__current
	display flex
	align-items center
	font-size 14px
	&::after
		content ''
		margin-left 10px
		width 0
		height 0
		border-style solid
		border-width 4px 4.5px 0 4.5px
		border-color black transparent transparent transparent

.location__icon
	margin-right 10px
	width 16px
	height 16px
	fill text-color
