
.location
	position relative
	flex 0 0 165px
	width 165px

.location__header
	display flex
	align-items center
	width 200px
	cursor pointer

.location__body
	&.is-location-choose
		.location-choose
			display block

.location__current
	display flex
	align-items center
	font-size 14px
	&::after
		content ''
		margin-left 10px
		width 0
		height 0
		border-style solid
		border-width 4px 4.5px 0 4.5px
		border-color black transparent transparent transparent

.location__icon
	margin-right 10px
	width 16px
	height 16px
	fill text-color

.location-question
	position absolute
	top 24px
	display flex
	align-items center
	padding 5px 10px
	min-width 200px
	background white
	box-shadow 0 0 5px 0 rgba(159, 197, 178, 0.5)
	z-index 1
	border-radius 4px
	& > *
		 &:not(:last-child)
				margin-right 15px
	&::before
		position absolute
		top -10px
		left 100px
		content ''
		width 0
		height 0
		border-style solid
		border-width 0 10px 10px 10px
		border-color transparent transparent white transparent

	&__text
		font-size 18px
		font-weight 600
		line-height 1.44
		white-space nowrap
		@media screen and (max-width xl)
			max-width 438px
			text-overflow ellipsis
			overflow hidden

	&__buttons
		display flex
		align-items center
		& > *
			 &:not(:last-child)
					margin-right 10px
		.btn
			padding 3px 15px
			font-size 14px
			font-weight 600
			white-space nowrap

.location-choose
	position absolute
	top 10px
	left 20px
	display none
	width 210px
	background white
	box-shadow 0 0 5px 0 rgba(159, 197, 178, 0.5)
	border 2px solid ripe-lemon
	border-radius 4px
	z-index 1
	&__header
		border-bottom 2px solid ripe-lemon
		.input
			width 100%
			box-sizing border-box
	&__body
		position relative
		height auto
		max-height 220px
		overflow auto
		&:before
			content''
			position absolute
			left 0
			right 0
			top 0
			display block
			height 30px
			background-image linear-gradient(to bottom, white, rgba(255, 255, 255, 0))
			z-index 2
		&:after
			content''
			position absolute
			left 0
			right 0
			bottom 0
			display block
			height 30px
			background-image linear-gradient(to top, white, rgba(255, 255, 255, 0))
			z-index 2
	&__list
		padding 15px 0

	&__item
		padding 5px 15px
		font-size 14px
		font-weight 600
		line-height 18px
		cursor pointer
		transition all .2s linear
		&:hover
			background ripe-lemon
