.main-nav__list
	display flex
	flex 1

.main-nav__item
	margin-right 40px
	@media screen and (max-width: tablet-width)
		margin-right 20px

	&:last-child
		margin-right 0

.main-nav__link
	font-size 12px
	text-transform uppercase
	letter-spacing 0.65px
	color main-shaft

