.order-callback
	display flex
	flex-direction column
	color white

.order-callback__desc
	font-size 12px
	white-space nowrap

.order-callback__phone
	font-size 24px
	line-height 1.5
	font-weight bold
	white-space nowrap
	color ripe-lemon

.order-callback__link
	font-size 14px
	font-weight 500
	text-decoration underline
	color white

