.promo-prev__wrapper
	display grid
	grid-template-columns repeat(3, 1fr)
	grid-column-gap 30px

.promo-prev
	border-radius 4px
	overflow hidden

.promo-prev__header
	position relative
	height 241px

.promo-prev__link
	position absolute
	left 20px
	bottom 20px

.promo-prev__body
	padding 15px
	padding 20px
	background white

.promo-prev__title
	font-size 20px
	font-weight 600
