.sales-liders
	padding-bottom 20px
	@media screen and (max-width xl)
		padding 13px


.sales-liders__row
	display flex
	& > *
		 &:not(:last-child)
				margin-right 20px

.sales-liders__col
	flex 1


.sales-liders__item
	display block
	margin-bottom 20px
	padding 20px
	height 240px
	background-color white
	border 2px solid transparent
	border-radius 4px
	transition all .3s
	&:hover
		border-color ripe-lemon
	.sales-liders__img
		height 140px
		@media screen and (max-width xl)
			height 80px
		img
			max-height 140px
			@media screen and (max-width xl)
				max-height 80px


.sales-liders__item--big
	height 400px
	@media screen and (max-width xl)
		height 270px

	.sales-liders__img
		height 280px
		@media screen and (max-width xl)
			margin-bottom 10px
			height 160px
		img
			max-height 280px
			@media screen and (max-width xl)
				height 160px
	.sales-liders__names
		font-size 22px
		line-height 1.2
		@media screen and (max-width xl)
			font-size 18px


.sales-liders__img
	display flex
	align-items center
	justify-content center
	margin-bottom 30px

.sales-liders__names
	font-weight bold
	color text-color
