.catalog-subnav
	.catalog-subnav__col
		.catalog-subnav__block
			.catalog-subnav__header
				span.catalog-subnav__title Прямоугольный водосток
				span.count-text 9
			ul.catalog-subnav__list
				+subnavItem('', 'Прямоугольные оцинкованные трубы водостока', '23')
				+subnavItem('', 'Соединители прямоугольных желобов водостока', '23')
				+subnavItem('', 'Воронка водостока прямоугольная оцинкованная', '23')
				+subnavItem('', 'Заглушки прямоугольного водостока оцинкованные', '23')
				+subnavItem('', 'Крепление прямуоугольного водостока', '23')

		.catalog-subnav__block
			.catalog-subnav__header
				span.catalog-subnav__title Прямоугольный водосток
				span.count-text 9
			ul.catalog-subnav__list
				+subnavItem('', 'Прямоугольные оцинкованные трубы водостока', '23')
				+subnavItem('', 'Соединители прямоугольных желобов водостока', '23')
				+subnavItem('', 'Воронка водостока прямоугольная оцинкованная', '23')
				+subnavItem('', 'Заглушки прямоугольного водостока оцинкованные', '23')
				+subnavItem('', 'Крепление прямуоугольного водостока', '23')
