// @import "../libs/reset.scss/reset.scss"
@import 'partials/fonts'
@import 'partials/variables'
@import 'partials/mixins'

body
	color text-color
	background bg-color
	font-size 18px
	margin 0
	padding 0

img
	max-width 100%
	height auto

.hidden
	display none

.container
	margin 0 auto
	max-width 1200px

ul
	reset-list()

@import 'blocks/header'
