// @import "../libs/reset.scss/reset.scss"
@import 'partials/fonts'
@import 'partials/variables'
@import 'partials/mixins'

body
	margin 0
	padding 0
	color text-color
	background bg-color
	font-family 'SourceSansPro-Regular', sans-serif
	font-size 18px

img
	max-width 100%
	height auto

a
	text-decoration none

h1,
h2,
h3,
h4,
h5,
h6
	margin 0
	padding 0

.hidden
	display none

.container
	margin 0 auto
	padding 0 80px
	max-width 1240px

ul
	reset-list()

@import 'blocks/header'
@import 'blocks/sandwitch'
@import 'blocks/location'
@import 'blocks/main-nav'
@import 'blocks/user'
