@import '../libs/slick/slick/slick.css'
@import '../libs/simplebar/dist/simplebar.css'
@import '../libs/Magnific-Popup/dist/magnific-popup.css'
@import 'partials/fonts'
@import 'partials/variables'
@import 'partials/mixins'

*
	box-sizing border-box

body
	margin 0
	padding 0
	font-family 'SourceSansPro-Regular', sans-serif
	font-size 16px
	color text-color
	background bg-color

img
	max-width 100%
	height auto

a
	font-size inherit
	text-decoration none
	color inherit

h1,
h2,
h3,
h4,
h5,
h6
	margin 0
	padding 0

.hidden
	display none

.container
	margin 0 auto
	padding 0 80px
	max-width 1240px
	@media screen and (max-width xl)
		padding 0 30px

ul
	reset-list()

p
	margin 0
	padding 0

.section
	padding 40px 0

.s-size-small
	padding 10px 0

.title-page
	font-size 40px
	line-height 1.25

.title-section
	font-size 40px
	line-height 1.25

@import 'blocks/basket-prev'
@import 'blocks/order-callback'
@import 'blocks/header/header'
@import 'blocks/popups/popups'
@import 'blocks/small-blocks/small-blocks'
@import 'blocks/small-blocks/upgrade'
@import 'blocks/small-blocks/links'
@import 'blocks/small-blocks/slick-dots'
@import 'blocks/form'
@import 'blocks/action'
@import 'blocks/btn'
@import 'blocks/sandwitch'
@import 'blocks/section-header'
@import 'blocks/count-text'
@import 'blocks/location'
@import 'blocks/main-nav'
@import 'blocks/user'
@import 'blocks/search'
@import 'blocks/logo'
@import 'blocks/catalog-nav'
@import 'blocks/banner'
@import 'blocks/categories-prev'
@import 'blocks/advantages'
@import 'blocks/promo'
@import 'blocks/discount'
@import 'blocks/sales-liders'
@import 'blocks/prev-slider'
@import 'blocks/sections'
@import 'blocks/footer'
@import 'blocks/payment-types'


